# Data Cleaning Project

In this project, our goal is to clean and analyze a dataset of used cars from *eBay Kleinanzeigen*, a classifieds section of the German eBay website.

In [1]:
import pandas as pd
import numpy as np
import re

autos = pd.read_csv('autos.csv', encoding='Latin-1')

In [2]:
autos

,dateCrawled,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,odometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,nrOfPictures,postalCode,lastSeen
0,2016-03-26 17:47:46,Peugeot_807_160_NAVTECH_ON_BOARD,privat,Angebot,"$5,000",control,bus,2004,manuell,158,andere,"150,000km",3,lpg,peugeot,nein,2016-03-26 00:00:00,0,79588,2016-04-06 06:45:54
1,2016-04-04 13:38:56,BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik,privat,Angebot,"$8,500",control,limousine,1997,automatik,286,7er,"150,000km",6,benzin,bmw,nein,2016-04-04 00:00:00,0,71034,2016-04-06 14:45:08
2,2016-03-26 18:57:24,Volkswagen_Golf_1.6_United,privat,Angebot,"$8,990",test,limousine,2009,manuell,102,golf,"70,000km",7,benzin,volkswagen,nein,2016-03-26 00:00:00,0,35394,2016-04-06 20:15:37
3,2016-03-12 16:58:10,Smart_smart_fortwo_coupe_softouch/F1/Klima/Pan...,privat,Angebot,"$4,350",control,kleinwagen,2007,automatik,71,fortwo,"70,000km",6,benzin,smart,nein,2016-03-12 00:00:00,0,33729,2016-03-15 03:16:28
4,2016-04-01 14:38:50,Ford_Focus_1_6_Benzin_TÜV_neu_ist_sehr_gepfleg...,privat,Angebot,"$1,350",test,kombi,2003,manuell,0,focus,"150,000km",7,benzin,ford,nein,2016-04-01 00:00:00,0,39218,2016-04-01 14:38:50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,2016-03-27 14:38:19,Audi_Q5_3.0_TDI_qu._S_tr.__Navi__Panorama__Xenon,privat,Angebot,"$24,900",control,limousine,2011,automatik,239,q5,"100,000km",1,diesel,audi,nein,2016-03-27 00:00:00,0,82131,2016-04-01 13:47:40
49996,2016-03-28 10:50:25,Opel_Astra_F_Cabrio_Bertone_Edition___TÜV_neu+...,privat,Angebot,"$1,980",control,cabrio,1996,manuell,75,astra,"150,000km",5,benzin,opel,nein,2016-03-28 00:00:00,0,44807,2016-04-02 14:18:02
49997,2016-04-02 14:44:48,Fiat_500_C_1.2_Dualogic_Lounge,privat,Angebot,"$13,200",test,cabrio,2014,automatik,69,500,"5,000km",11,benzin,fiat,nein,2016-04-02 00:00:00,0,73430,2016-04-04 11:47:27
49998,2016-03-08 19:25:42,Audi_A3_2.0_TDI_Sportback_Ambition,privat,Angebot,"$22,900",control,kombi,2013,manuell,150,a3,"40,000km",11,diesel,audi,nein,2016-03-08 00:00:00,0,35683,2016-04-05 16:45:07
49999,2016-03-14 00:42:12,Opel_Vectra_1.6_16V,privat,Angebot,"$1,250",control,limousine,1996,manuell,101,vectra,"150,000km",1,benzin,opel,nein,2016-03-13 00:00:00,0,45897,2016-04-06 21:18:48

In [3]:
autos.info()
autos.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 20 columns):
dateCrawled            50000 non-null object
name                   50000 non-null object
seller                 50000 non-null object
offerType              50000 non-null object
price                  50000 non-null object
abtest                 50000 non-null object
vehicleType            44905 non-null object
yearOfRegistration     50000 non-null int64
gearbox                47320 non-null object
powerPS                50000 non-null int64
model                  47242 non-null object
odometer               50000 non-null object
monthOfRegistration    50000 non-null int64
fuelType               45518 non-null object
brand                  50000 non-null object
notRepairedDamage      40171 non-null object
dateCreated            50000 non-null object
nrOfPictures           50000 non-null int64
postalCode             50000 non-null int64
lastSeen               50000 non-null object
dtypes: int64(5), object(15)
memory usage: 7.6+ MB

,dateCrawled,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,odometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,nrOfPictures,postalCode,lastSeen
0,2016-03-26 17:47:46,Peugeot_807_160_NAVTECH_ON_BOARD,privat,Angebot,"$5,000",control,bus,2004,manuell,158,andere,"150,000km",3,lpg,peugeot,nein,2016-03-26 00:00:00,0,79588,2016-04-06 06:45:54
1,2016-04-04 13:38:56,BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik,privat,Angebot,"$8,500",control,limousine,1997,automatik,286,7er,"150,000km",6,benzin,bmw,nein,2016-04-04 00:00:00,0,71034,2016-04-06 14:45:08
2,2016-03-26 18:57:24,Volkswagen_Golf_1.6_United,privat,Angebot,"$8,990",test,limousine,2009,manuell,102,golf,"70,000km",7,benzin,volkswagen,nein,2016-03-26 00:00:00,0,35394,2016-04-06 20:15:37
3,2016-03-12 16:58:10,Smart_smart_fortwo_coupe_softouch/F1/Klima/Pan...,privat,Angebot,"$4,350",control,kleinwagen,2007,automatik,71,fortwo,"70,000km",6,benzin,smart,nein,2016-03-12 00:00:00,0,33729,2016-03-15 03:16:28
4,2016-04-01 14:38:50,Ford_Focus_1_6_Benzin_TÜV_neu_ist_sehr_gepfleg...,privat,Angebot,"$1,350",test,kombi,2003,manuell,0,focus,"150,000km",7,benzin,ford,nein,2016-04-01 00:00:00,0,39218,2016-04-01 14:38:50

After reaing and inspecting the dataset, we see that there are:

- 500 rows
- 20 columns of both numeric and object dtypes
- null values in the following columns:
    - vehicleType
    - gearbox
    - model
    - fuelType
    - notRepairedDamage

## Rename columns and convert to snake_case

In [4]:
autos.columns

Index(['dateCrawled', 'name', 'seller', 'offerType', 'price', 'abtest',
       'vehicleType', 'yearOfRegistration', 'gearbox', 'powerPS', 'model',
       'odometer', 'monthOfRegistration', 'fuelType', 'brand',
       'notRepairedDamage', 'dateCreated', 'nrOfPictures', 'postalCode',
       'lastSeen'],
      dtype='object')

In [5]:
# copy the columns in the autos dataframe to a python list
copy_columns = list(autos.columns)

# change column names, use reg ex to covert to snake_case
for index in range(len(copy_columns)):
    copy_columns[index] = copy_columns[index].replace('yearOfRegistration','registration_year')
    copy_columns[index] = copy_columns[index].replace('monthOfRegistration', 'registration_month')
    copy_columns[index] = copy_columns[index].replace('notRepairedDamage', 'unrepaired_damage')
    copy_columns[index] = copy_columns[index].replace('dateCreated', 'ad_created')
    copy_columns[index] = re.sub(r'(?<!^)(?=[A-Z])', '_', copy_columns[index]).lower()

# assign the modified column names to the autos.columns attribute
autos.columns = copy_columns

# inspect the autos dataframe
autos.head()

,date_crawled,name,seller,offer_type,price,abtest,vehicle_type,registration_year,gearbox,power_p_s,model,odometer,registration_month,fuel_type,brand,unrepaired_damage,ad_created,nr_of_pictures,postal_code,last_seen
0,2016-03-26 17:47:46,Peugeot_807_160_NAVTECH_ON_BOARD,privat,Angebot,"$5,000",control,bus,2004,manuell,158,andere,"150,000km",3,lpg,peugeot,nein,2016-03-26 00:00:00,0,79588,2016-04-06 06:45:54
1,2016-04-04 13:38:56,BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik,privat,Angebot,"$8,500",control,limousine,1997,automatik,286,7er,"150,000km",6,benzin,bmw,nein,2016-04-04 00:00:00,0,71034,2016-04-06 14:45:08
2,2016-03-26 18:57:24,Volkswagen_Golf_1.6_United,privat,Angebot,"$8,990",test,limousine,2009,manuell,102,golf,"70,000km",7,benzin,volkswagen,nein,2016-03-26 00:00:00,0,35394,2016-04-06 20:15:37
3,2016-03-12 16:58:10,Smart_smart_fortwo_coupe_softouch/F1/Klima/Pan...,privat,Angebot,"$4,350",control,kleinwagen,2007,automatik,71,fortwo,"70,000km",6,benzin,smart,nein,2016-03-12 00:00:00,0,33729,2016-03-15 03:16:28
4,2016-04-01 14:38:50,Ford_Focus_1_6_Benzin_TÜV_neu_ist_sehr_gepfleg...,privat,Angebot,"$1,350",test,kombi,2003,manuell,0,focus,"150,000km",7,benzin,ford,nein,2016-04-01 00:00:00,0,39218,2016-04-01 14:38:50

## Explore the data

In [6]:
autos.describe(include='all')

,date_crawled,name,seller,offer_type,price,abtest,vehicle_type,registration_year,gearbox,power_p_s,model,odometer,registration_month,fuel_type,brand,unrepaired_damage,ad_created,nr_of_pictures,postal_code,last_seen
count,50000,50000,50000,50000,50000,50000,44905,50000.000000,47320,50000.000000,47242,50000,50000.000000,45518,50000,40171,50000,50000.0,50000.000000,50000
unique,48213,38754,2,2,2357,2,8,NaN,2,NaN,245,13,NaN,7,40,2,76,NaN,NaN,39481
top,2016-03-05 16:57:05,Ford_Fiesta,privat,Angebot,$0,test,limousine,NaN,manuell,NaN,golf,"150,000km",NaN,benzin,volkswagen,nein,2016-04-03 00:00:00,NaN,NaN,2016-04-07 06:17:27
freq,3,78,49999,49999,1421,25756,12859,NaN,36993,NaN,4024,32424,NaN,30107,10687,35232,1946,NaN,NaN,8
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2005.073280,NaN,116.355920,NaN,NaN,5.723360,NaN,NaN,NaN,NaN,0.0,50813.627300,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,105.712813,NaN,209.216627,NaN,NaN,3.711984,NaN,NaN,NaN,NaN,0.0,25779.747957,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1000.000000,NaN,0.000000,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,0.0,1067.000000,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1999.000000,NaN,70.000000,NaN,NaN,3.000000,NaN,NaN,NaN,NaN,0.0,30451.000000,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2003.000000,NaN,105.000000,NaN,NaN,6.000000,NaN,NaN,NaN,NaN,0.0,49577.000000,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2008.000000,NaN,150.000000,NaN,NaN,9.000000,NaN,NaN,NaN,NaN,0.0,71540.000000,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9999.000000,NaN,17700.000000,NaN,NaN,12.000000,NaN,NaN,NaN,NaN,0.0,99998.000000,NaN

From the descriptive stats on the autos dataframe, we can identify the following columns as being redundant (due to having the same info for nearly all but one of the 50000 rows):

- seller
- offer_type

Furthermore, we should further investigate the following columns due to their low numbers of unique values:

- abtest
- gearbox
- unrepaired_damage
- vehicle_type
- fuel_type

We also should convert the following columns that store numeric data as text to columns with a numeric dtype:

- price
- odometer

Lastly, we should also look into date columns, extreme values in the dataframe, as well as null values present in some of the columns we identified earlier.

## Further investigation of columns with few unique values

In [7]:
autos["abtest"].value_counts().head()

test       25756
control    24244
Name: abtest, dtype: int64

In [8]:
autos["gearbox"].value_counts().head()

manuell      36993
automatik    10327
Name: gearbox, dtype: int64

In [9]:
autos["unrepaired_damage"].value_counts().head()

nein    35232
ja       4939
Name: unrepaired_damage, dtype: int64

In [10]:
autos["vehicle_type"].value_counts()

limousine     12859
kleinwagen    10822
kombi          9127
bus            4093
cabrio         3061
coupe          2537
suv            1986
andere          420
Name: vehicle_type, dtype: int64

In [11]:
autos["fuel_type"].value_counts()

benzin     30107
diesel     14567
lpg          691
cng           75
hybrid        37
andere        22
elektro       19
Name: fuel_type, dtype: int64

After further investigation, it appears that the info in the *abtest*, *gearbox*, *unrepaired_damage*, *vehicle_type*, and *fuel_type* columns is valuable.

We should translate the values in the *gearbox*,  *unrepaired_damage*, *vehicle_type*, and *fuel_type* columns to English.

### Translate German values to English in identified columns

To translate the values in the identified columns, we will use the Google Translator module.

In [12]:
# import googletrans
# from googletrans import Translator # import the Translator class
# translator = Translator() # create object of the Translator class


# gearbox_map = {
#     'manuell' : 'manual'
#     'manual' : 'manual' 
#     'automatik' : 'automatic'
#     'automatic' : 'automatic'
# }

# autos_map = {
#     'ja' : 'yes'
#     'yes' : 'yes'
#     'nein' : 'no'
#     'no' : 'no'
# }

## Convert columns with numeric data from object dtype to numeric dtype

### Convert *price*  column to numeric dtype

First, we will check to see if commas are used as decimal signs for the values in the *odometer* column.

In [13]:
autos.loc[autos["price"].str.count(',') == 2, ["name", "price"]]

                                                    name        price
2897    Escort_MK_1_Hundeknochen_zum_umbauen_auf_RS_2000  $11,111,111
7814                                         Ferrari_F40   $1,300,000
11137  suche_maserati_3200_gt_Zustand_unwichtig_laufe...  $10,000,000
22947                         Bmw_530d_zum_ausschlachten   $1,234,566
24384                            Schlachte_Golf_3_gt_tdi  $11,111,111
27371                                         Fiat_Punto  $12,345,678
39377                        Tausche_volvo_v40_gegen_van  $12,345,678
39705                        Tausch_gegen_gleichwertiges  $99,999,999
42221                                  Leasinguebernahme  $27,322,222
47598  Opel_Vectra_B_1_6i_16V_Facelift_Tuning_Showcar...  $12,345,678
47634                                        Ferrari_FXX   $3,890,000

We see that their are some values in the *price* column that have two commas, but it looks like the second comma is not in place of a decimal, so we can remove the commas. That being said, there looks to be some bad data in this column that we will need to look at later in the max values for odometer once it is numeric.

We now carry on to remove the '$', commas, and other likely non-numeric characters from the values in the *price* column, and then rename it as *price_euros*.

In [14]:
# remove non-digit chars, convert price column to numeric dtype
autos["price"] = (autos["price"]
                        .str.strip()
                        .str.replace(",","")
                        .str.replace(" ","")
                        .str.replace("$","")
                        .astype(float)
                 )

# rename column (in euros, likely based on source country)
autos.rename({"price": "price_euros"}, axis=1, inplace=True)

### Convert *odometer*  column to numeric dtype

Since there are only 13 unique values in the odometer column, we can easily view the value formats as follows:

In [15]:
autos["odometer"].value_counts()

150,000km    32424
125,000km     5170
100,000km     2169
90,000km      1757
80,000km      1436
70,000km      1230
60,000km      1164
50,000km      1027
5,000km        967
40,000km       819
30,000km       789
20,000km       784
10,000km       264
Name: odometer, dtype: int64

Clearly, all the non-numeric characters that we need to remove for this column are thousands seperator comma and the 'km' suffix.

In [16]:
# remove non-digit chars, convert odometer column to numeric dtype
autos["odometer"] = (autos["odometer"]
                        .str.strip()
                        .str.replace(",","")
                        .str.replace(" ","")
                        .str.replace("km","")
                        .astype(int)
                 )

# rename column with units of km
autos.rename({"odometer": "odometer_km"}, axis=1, inplace=True)

## Further exploration of *price_euros* and *odometer_km* columns

In [17]:
# summary stats on price_euros
autos["price_euros"].describe()

count    5.000000e+04
mean     9.840044e+03
std      4.811044e+05
min      0.000000e+00
25%      1.100000e+03
50%      2.950000e+03
75%      7.200000e+03
max      1.000000e+08
Name: price_euros, dtype: float64

In [18]:
# unique values in price_euros
autos["price_euros"].unique().shape

(2357,)

In [19]:
# low value counts in price_euros
autos["price_euros"].value_counts().sort_index(ascending=True).head(40)

0.0      1421
1.0       156
2.0         3
3.0         1
5.0         2
8.0         1
9.0         1
10.0        7
11.0        2
12.0        3
13.0        2
14.0        1
15.0        2
17.0        3
18.0        1
20.0        4
25.0        5
29.0        1
30.0        7
35.0        1
40.0        6
45.0        4
47.0        1
49.0        4
50.0       49
55.0        2
59.0        1
60.0        9
65.0        5
66.0        1
70.0       10
75.0        5
79.0        1
80.0       15
89.0        1
90.0        5
99.0       19
100.0     134
110.0       3
111.0       2
Name: price_euros, dtype: int64

In [20]:
# high value counts in price_euros
autos["price_euros"].value_counts().sort_index(ascending=False).head(10)

99999999.0    1
27322222.0    1
12345678.0    3
11111111.0    2
10000000.0    1
3890000.0     1
1300000.0     1
1234566.0     1
999999.0      2
999990.0      1
Name: price_euros, dtype: int64

In [21]:
# examine the names of these cars
autos[["name", "price_euros"]].sort_values("price_euros", axis=0, ascending=False).head(10)

                                                    name  price_euros
39705                        Tausch_gegen_gleichwertiges   99999999.0
42221                                  Leasinguebernahme   27322222.0
27371                                         Fiat_Punto   12345678.0
39377                        Tausche_volvo_v40_gegen_van   12345678.0
47598  Opel_Vectra_B_1_6i_16V_Facelift_Tuning_Showcar...   12345678.0
2897    Escort_MK_1_Hundeknochen_zum_umbauen_auf_RS_2000   11111111.0
24384                            Schlachte_Golf_3_gt_tdi   11111111.0
11137  suche_maserati_3200_gt_Zustand_unwichtig_laufe...   10000000.0
47634                                        Ferrari_FXX    3890000.0
7814                                         Ferrari_F40    1300000.0

I think it would be safe for us to replace the price_euros values of 0 and 1 with a null value, as nobody is likely to be selling their car for free or 1 euro, and the frequency of these numbers is skewing the mean price significantly. 

On the other end of the value spectrum, considering that the most expensive car in the world retials for 5 million USD, we should replace any prices above 3,890,000 (the Ferrari FXX) with a null value.

In [44]:
# change outlier price_euros values to null
autos.loc[~autos["price_euros"].between(2,3890000), "price_euros"] = np.nan
# check number of total null vals in price_euros
autos["price_euros"].isnull().sum()

1585

Now we do a similar analysis on the *odometer_km* column.

In [23]:
# summary stats on odometer_km
autos["odometer_km"].describe()

count     50000.000000
mean     125732.700000
std       40042.211706
min        5000.000000
25%      125000.000000
50%      150000.000000
75%      150000.000000
max      150000.000000
Name: odometer_km, dtype: float64

In [24]:
# low value counts in odometer_km
autos["odometer_km"].value_counts().sort_index(ascending=True).head(10)

5000      967
10000     264
20000     784
30000     789
40000     819
50000    1027
60000    1164
70000    1230
80000    1436
90000    1757
Name: odometer_km, dtype: int64

In [25]:
# high value counts in odometer_km
autos["odometer_km"].value_counts().sort_index(ascending=False).head(10)

150000    32424
125000     5170
100000     2169
90000      1757
80000      1436
70000      1230
60000      1164
50000      1027
40000       819
30000       789
Name: odometer_km, dtype: int64

In [26]:
# null value counts
autos["odometer_km"].isnull().sum()

0

Nothing is strange in the *odometer_km* min and max values.

## Explore Date Columns

In [30]:
autos[['date_crawled','ad_created','last_seen']][0:5]

          date_crawled           ad_created            last_seen
0  2016-03-26 17:47:46  2016-03-26 00:00:00  2016-04-06 06:45:54
1  2016-04-04 13:38:56  2016-04-04 00:00:00  2016-04-06 14:45:08
2  2016-03-26 18:57:24  2016-03-26 00:00:00  2016-04-06 20:15:37
3  2016-03-12 16:58:10  2016-03-12 00:00:00  2016-03-15 03:16:28
4  2016-04-01 14:38:50  2016-04-01 00:00:00  2016-04-01 14:38:50

We see that these three date columns all seem to use a consistent timestamp format. We will sort the values in each column by date (ignoring time, so take first ten characters of the string) and look at the relative frequency of the dates.

In [32]:
(autos["date_crawled"].str[:10].value_counts(normalize=True, dropna=False)
                      .sort_index()
)

2016-03-05    0.02538
2016-03-06    0.01394
2016-03-07    0.03596
2016-03-08    0.03330
2016-03-09    0.03322
2016-03-10    0.03212
2016-03-11    0.03248
2016-03-12    0.03678
2016-03-13    0.01556
2016-03-14    0.03662
2016-03-15    0.03398
2016-03-16    0.02950
2016-03-17    0.03152
2016-03-18    0.01306
2016-03-19    0.03490
2016-03-20    0.03782
2016-03-21    0.03752
2016-03-22    0.03294
2016-03-23    0.03238
2016-03-24    0.02910
2016-03-25    0.03174
2016-03-26    0.03248
2016-03-27    0.03104
2016-03-28    0.03484
2016-03-29    0.03418
2016-03-30    0.03362
2016-03-31    0.03192
2016-04-01    0.03380
2016-04-02    0.03540
2016-04-03    0.03868
2016-04-04    0.03652
2016-04-05    0.01310
2016-04-06    0.00318
2016-04-07    0.00142
Name: date_crawled, dtype: float64

This shows a fairly unifrom spread of crawling by date. Range from March 2016 to April 2016.

In [33]:
(autos["ad_created"].str[:10].value_counts(normalize=True, dropna=False)
                      .sort_index()
)

2015-06-11    0.00002
2015-08-10    0.00002
2015-09-09    0.00002
2015-11-10    0.00002
2015-12-05    0.00002
               ...
2016-04-03    0.03892
2016-04-04    0.03688
2016-04-05    0.01184
2016-04-06    0.00326
2016-04-07    0.00128
Name: ad_created, Length: 76, dtype: float64

From this data, we see that all ads were created within June 2015 to April 2016. Ads were created on a total of 76 different days withint that time period.

In [34]:
(autos["last_seen"].str[:10].value_counts(normalize=True, dropna=False)
                      .sort_index()
)

2016-03-05    0.00108
2016-03-06    0.00442
2016-03-07    0.00536
2016-03-08    0.00760
2016-03-09    0.00986
2016-03-10    0.01076
2016-03-11    0.01252
2016-03-12    0.02382
2016-03-13    0.00898
2016-03-14    0.01280
2016-03-15    0.01588
2016-03-16    0.01644
2016-03-17    0.02792
2016-03-18    0.00742
2016-03-19    0.01574
2016-03-20    0.02070
2016-03-21    0.02074
2016-03-22    0.02158
2016-03-23    0.01858
2016-03-24    0.01956
2016-03-25    0.01920
2016-03-26    0.01696
2016-03-27    0.01602
2016-03-28    0.02086
2016-03-29    0.02234
2016-03-30    0.02484
2016-03-31    0.02384
2016-04-01    0.02310
2016-04-02    0.02490
2016-04-03    0.02536
2016-04-04    0.02462
2016-04-05    0.12428
2016-04-06    0.22100
2016-04-07    0.13092
Name: last_seen, dtype: float64

There were a number of ads still in circulation on the last day of data crawling.

Now let's take a look at the *registration_year* column.

In [35]:
autos["registration_year"].describe()

count    50000.000000
mean      2005.073280
std        105.712813
min       1000.000000
25%       1999.000000
50%       2003.000000
75%       2008.000000
max       9999.000000
Name: registration_year, dtype: float64

The mean and quartile values in this data all make sense, however, the max and min values do not. Clearly, cars were not yet invented in the year 1000, and we have not yet reached the year 9999. These values and other outliers should be removed. Let's replace the data in this column with null values for years not within 1900 and 2016 inclusive.

In [41]:
autos.loc[~autos["registration_year"].between(1900, 2016), "registration_year"] = np.nan

In [42]:
# re-inspect summary stats for registration_year
autos["registration_year"].describe()

count    48028.00000
mean      2002.80351
std          7.31085
min       1910.00000
25%       1999.00000
50%       2003.00000
75%       2008.00000
max       2016.00000
Name: registration_year, dtype: float64

In [45]:
# inspect rel freq of registration_year values
autos["registration_year"].value_counts(normalize=True, ascending=False)

2000.0    0.069834
2005.0    0.062776
1999.0    0.062464
2004.0    0.056988
2003.0    0.056779
            ...
1939.0    0.000021
1938.0    0.000021
1931.0    0.000021
1929.0    0.000021
1927.0    0.000021
Name: registration_year, Length: 78, dtype: float64

## Analysis: Average Price and Mileage by Brand

### Average Price by Brand

In [46]:
# explore brand column
autos["brand"].describe()

count          50000
unique            40
top       volkswagen
freq           10687
Name: brand, dtype: object

In [49]:
# list by most common brands
autos["brand"].value_counts(normalize=True)

volkswagen        0.21374
opel              0.10922
bmw               0.10858
mercedes_benz     0.09468
audi              0.08566
ford              0.06958
renault           0.04808
peugeot           0.02912
fiat              0.02616
seat              0.01882
skoda             0.01572
mazda             0.01514
nissan            0.01508
citroen           0.01402
smart             0.01402
toyota            0.01234
sonstige_autos    0.01092
hyundai           0.00976
volvo             0.00914
mini              0.00848
mitsubishi        0.00812
honda             0.00798
kia               0.00712
alfa_romeo        0.00658
porsche           0.00588
suzuki            0.00586
chevrolet         0.00566
chrysler          0.00362
dacia             0.00258
daihatsu          0.00256
jeep              0.00220
subaru            0.00218
land_rover        0.00198
saab              0.00160
daewoo            0.00158
trabant           0.00156
jaguar            0.00154
rover             0.00138
lancia            0.00114
lada              0.00062
Name: brand, dtype: float64

For our analysis, we will just consider the most common brands defined as those with over 5% share of the total entries in the dataset.

In [52]:
top_brands = autos["brand"].value_counts(normalize=True).head(6).index
top_brands

Index(['volkswagen', 'opel', 'bmw', 'mercedes_benz', 'audi', 'ford'], dtype='object')

In [62]:
price_by_brand = {}

for brand in top_brands:
    selected_rows = autos[autos["brand"] == brand]
    avg_price = selected_rows["price_euros"].mean()
    price_by_brand[brand] = round(avg_price, 2)
    
price_by_brand

{'volkswagen': 5539.91,
 'opel': 2959.75,
 'bmw': 8527.8,
 'mercedes_benz': 8565.48,
 'audi': 9241.75,
 'ford': 4031.24}

We see that, on average, listings of cars from the brands Audi, Mercedes Benz, and BMW have the highest average cost, which is fairly expected.

### Average Mileage by Brand

In [63]:
mileage_by_brand = {}

for brand in top_brands:
    selected_rows = autos[autos["brand"] == brand]
    avg_mileage = selected_rows["odometer_km"].mean()
    mileage_by_brand[brand] = round(avg_mileage, 2)
    
mileage_by_brand

{'volkswagen': 128955.27,
 'opel': 129298.66,
 'bmw': 132521.64,
 'mercedes_benz': 130886.14,
 'audi': 129643.94,
 'ford': 124131.93}

The average mileage for a listing is fairly consistent across all of the top 6 brands. This makes us postulate that the differences in average listing price are based on other factors other than mileage within these top brands. For clarity, we will now display our aggregate data side-by-side.

### Comparing Average Price and Average Mileage by Brand

In [64]:
# create brand mean price series
bmp_series = pd.Series(price_by_brand)
# create brand mean mileage series
bmm_series = pd.Series(mileage_by_brand)

# convert bmp_series to a dataframe and assign bmm_series as a second column
bmp_bmm_comparison = pd.DataFrame(bmp_series, columns=["mean_price"])
bmp_bmm_comparison["mean_mileage"] = bmm_series

bmp_bmm_comparison

               mean_price  mean_mileage
volkswagen        5539.91     128955.27
opel              2959.75     129298.66
bmw               8527.80     132521.64
mercedes_benz     8565.48     130886.14
audi              9241.75     129643.94
ford              4031.24     124131.93